<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!--DO NOT CHANGE THE PORT. ALL GAMESERVERS CONNECT VIA A PROXY, THE DEFAULT TCP PORT IS 4520-->
  <!-- MasterServer Settings
  
    appName = Master Server Application Name
    ip = Master Server IP
    serverPort = Port the Sub servers connect to
    clientPort = Port the clients connect to 
    
  -->
  <master appName="Master" ip="127.0.0.1" serverPort="4520" clientPort="5055"/>

  <!--CONNECTION INFO FOR THE CURRENT SUB SERVER. ALL SUB SERVERS LISTEN ON UDP PORT BY DEFAULT-->
  <!-- SubServer Settings
  
    ip = Master Server Application Name
    udpPort = UDP Port for Clients to connect to
    tcpPort = TCP Port for SubServers to connect to
    subServerId = This id is use  to distinguish between servers of the same type. Different sub server types can have the same sub server id but multiple servers of the same type cannot have same sub server id
    
  -->
  <server ip="127.0.0.1" subServerId="1" udpPort="5056" tcpPort="4530"/>
  
</configuration>
